*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'poppins', sans-serif;
}
span{
    background:radial-gradient(#fff, #ffd6d6);
    color:#555;
    font-size:20px;
    font-weight:bold;
}
.nav-bar{
    display:flex;
    text-align:center;
    padding:20px;
}
nav{
    flex:1;
    text-align:right;
}
nav ul{
    display:inline-block;
    list-style-type:none;
}
nav ul li{
    display:inline-block;
    margin-right:20px;
}
nav ul li a{
    color:#777;
    text-decoration:none;
}
.container{
    max-width:1300px;
    margin:auto;
    padding-right:25px;
    padding-left:25px;
}
.row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-round;
}
.col-2{
    flex-basis:50%;
    min-width:300px;
}
.col-2 img{
    max-width:100%;
    padding:50px 0;
    margin:25px 0;
    border-radius:30%;
}
.col-2 h1{
    font-size:50px;
    line-height:60px;
}
h1::first-letter{
    color:red;
    font-size:250%;
}
.col-2 p{
    font-size:30px;
    line-height:40px;
    text-align:justify;
    margin-left:8px;
    margin-right:8px;
}
.btn{
    display:inline-block;
    background:#ff523b;
    color:#fff;
    padding:10px 30px;
    margin:30px 0px;
    border-radius:30px;
    text-decoration:none;
    transition:background 0.5s;
}
.btn:hover{
    background:#653434;
}
.header{
    background:radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top:70px;
}
.category{
    margin:70px 0;
}
.col-3{
    flex-basis:30%;
    min-width:250px;
    margin-bottom:30px;
    margin:auto;
}
.col-3 img{
    width:100%;
}
.small-container{
    max-width:1080px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.col-4{
    flex-basis:25%;
    min-width:250;
    margin-bottom:30px;
    margin:auto;
}
.col-4 img{
    width:100%;
    margin-bottom:60px;
}
.title{
    text-align:center;
    margin:0 auto 80px;
    position:relative;
    line-height:60px;
    color:#555;
}
.title::after{
    content:'';
    background:#ff523b;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}
.last-row{
    text-align:center;
    width:100%;
}
input{
    width:40%;
    padding:10px 8px;
    margin:8px;
    font-weight:bold;
    border-radius:8px;
    background:transparent;
    margin-top:50px;
}
button{
    width:100px;
    display:inline-block;
    background:#ff523b;
    color:#fff;
    padding:10px 30px;
    margin:30px 0px;
    border-radius:30px;
    text-decoration:none;
    transition:background 0.5s;
    font-weight:bold;
}
.formpage{
    width:500px;
    height:500px;
    border:2px solid #555;
    text-align:center;
    margin-left:25%;
    margin-bottom:20%;
    background:#ffd6d6;
}
.last-div{
    background:radial-gradient(#fff, #ffd6d6);
}
.header .last-div{
    margin-top:75px;
}
